@use './layout/layout.scss' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

.p-chip-icon.mdi {
    line-height: 1;
}

.input-like {
    @apply rounded-md border;
    border-color: var(--p-inputtext-border-color);
    padding: 21px 10.5px 10.5px 10.5px;
    position: relative;

    label {
        position: absolute;
        color: var(--p-floatlabel-active-color);
        top: 4px;
        font-size: var(--p-floatlabel-active-font-size);
    }
}